doctype html 
html 
    head 
     title Dev Dance Acadamy
     block scripts
     block style 
    body  
        nav#navbar 
            ul 
                div#logo
                    img(src="/static/logo1.jpg", alt="Error_404")
                    | DDA
                li #[a(href='/' Class='active')  Home] 
                li #[a(href='/#mission') Mission]  
                li #[a(href='/#sponcersection') Sponcers]
                li #[a(href='/contact') Contact Us] 
        block content 
        footer#footer 
           | Copyright &copy  2019 DevAcadamy.com , All Rights Reserved! 